@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap");

* {
  font-family: "Lato", sans-serif;
}

/* navbar start here */
.navbar-brand {
  font-size: 22px;
  font-weight: 600;
}
.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
  padding: 5px 15px;
  font-weight: 600;
}
.nav-link.btn {
  text-transform: uppercase;
  transition: all 0.4s ease;
}
.headding-section {
  background-color: #eff0f259;
}
.nav-link.btn:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5) !important;
}
.breadcrumb-item.active {
  font-weight: 600;
}

/* product-section start here */
.product-section {
}
.product-img {
  overflow: hidden;
}
.product-img img {
  transition: all 0.4s ease;
}
.product-img:hover img {
  transform: scale(1.1);
}
.product-details {
}
.product-details h3 {
  font-size: 20px;
  font-weight: 600;
}
.product-details h5 {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  color: lightslategray;
  margin: 10px 0;
}
.product-details .ratings i {
  color: #007bff;
  margin-bottom: 12px;
}
.product-details .cash {
  font-size: 16px;
  font-weight: 600;
  color: #141515e8;
  margin-bottom: 15px;
}
.product-details p {
  width: 80%;
  font-size: 18px;
  font-weight: 100;
}
.product-details strong {
  display: block;
  font-size: 15px;
  font-weight: 100;
}

.table td {
  font-weight: 100;
}
.buttons {
}
.btn-custom {
  font-size: 12px;
  font-weight: 600;
  padding: 8px 13px;
  transition: all 0.4s ease;
}
.btn-custom:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5) !important;
}
/* product section ends here */

/* collection section ends here */
.social-section {
  background-color: #007bff;
  padding: 25px;
}
.social-section h4 {
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.1;
}
.social-icon {
  text-align: end;
}
.social-icon a i {
  color: #ffffff;
  margin-left: 20px;
  font-size: 16px;
}
/* social section ends here */

/* footer section start here */
.footer-section {
  background-color: #2e2e2e;
  color: #ffffff;
}
.head {
  margin-bottom: 25px;
}
.head h3 {
  font-size: 20px;
  font-weight: 600;
}
.head span {
  display: block;
  background-color: #007bffb5;
  width: 60px;
  height: 2px;
}
.other-links {
}
.other-links li {
  margin: 12px 0;
  cursor: pointer;
  font-size: 14px;
  font-weight: 100;
}
.address-bar li {
  margin: 12px 0;
  font-size: 14px;
  font-weight: 100;
}
.address-bar li i {
  margin-right: 8px;
}

.copy-right-section {
  background-color: #252525;
  color: #ffffff;
}
